body{
    display: flex;
    margin: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    font-size: 1.2rem;
    font-family: sans-serif;
    
}

.name{
    color: white;
    position: absolute;
    top: 0;
    font-size: 5rem;
    
}

span{
    color: white;
}

.login{
    margin: 2rem;
    border-radius: 10px;
    display: flex;
    min-width: 25rem;
    flex-direction: column;
    background-color: #169976;
}

.register{
    margin: 2rem;
    border-radius: 10px;
    display: flex;
    min-width: 25rem;
    flex-direction: column;
    background-color: #169976;
}

.login *{
     margin: .5rem;
}

.register *{
     margin: .5rem;
}

.login input{
    background-color: #1DCD9F;
    font-size: 1.2rem;
}

.register input{
    background-color: #1DCD9F;
    font-size: 1.2rem;
}

.login label{
    color: #ffffff;
}

.register label{
    color: #ffffff;
}

#summit_button{
    align-self: center;
    font-size: 1.5rem;
    border-radius: 15px;
    background-color: #1DCD9F;
}

#summit_button:hover{
    background-color: #1bb98f;
}

#summit_button1{
    align-self: center;
    font-size: 1.5rem;
    border-radius: 15px;
    background-color: #1DCD9F;
}

#summit_button1:hover{
    background-color: #1bb98f;
}

#info_sec{
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
}

#info_sec1{
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
}

@media (max-width: 1000px) {
    body{
        flex-direction: column;
        padding-top: 10rem;
    }
}