

body{
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    font-size: 1.2rem;
}

.menu{
    background-color: #222222;
    display: flex;
    width: 100%;
    height: 5rem;
    align-items: center;
}

.menu_button{
    border-radius: 15px;
    font-size: 1.5rem;
    background-color: #1DCD9F;
}

.menu_button:hover{
    background-color: #1bb98f;
}

.post_block{
    margin-top: 2rem;
    border-radius: 10px;
    display: flex;
    min-width: 30rem;
    width: 40%;
    flex-direction: column;
    background-color: #169976;
}

.post_block > :not(span){
    background-color: #1DCD9F;
}

.post_block > *{
     margin: .5rem;
}

.title{
    width: 70%;
    font-size: 1.5rem;
}

.content{
    min-height: 12rem;
    max-width: 95%;
    min-width: 95%;
    font-size: 1.2rem;
}

.Publish{
    align-self: center;
    font-size: 2rem;
    border-radius: 15px;
}

.Publish:hover{
    background-color: #1bb98f;
}