body{
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    font-size: 1.2rem;
    font-family: sans-serif;
}



.menu{
    background-color: #222222;
    display: flex;
    width: 100%;
    height: 5rem;
    align-items: center;
}

.menu_button{
    border-radius: 15px;
    font-size: 1.5rem;
    background-color: #1DCD9F;
}

.menu_button:hover{
    background-color: #1bb98f;
}


a{
    border-radius: 15px;
    font-size: 1.5rem;
    background-color: #1DCD9F;
    color: #000000;
    text-decoration: none;
    padding: 0.2rem 1rem;
    margin-top: 2rem;
}

a:hover{
    background-color: #1bb98f;
}

#content_block{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.post_block{
    margin-top: 2rem;
    border-radius: 10px;
    display: flex;
    min-width: 30rem;
    width: 40%;
    flex-direction: column;
    background-color: #169976;
}

.post_block *{
     margin: .5rem;
}

.post_block h3{
  
    font-size: 1.5rem;
}

.post_block p{
   
    font-size: 1.2rem;
}


.rewrite_link{
    align-self: flex-start;
    font-size: 1.2rem;
    background-color: #1DCD9F;
    margin-top: 0.5rem;
    border: 1px solid black;
}

.delete_button{
    align-self: flex-start;
    font-size: 1.2rem;
    border-radius: 15px;
    background-color: #1DCD9F;
}

.delete_button:hover{
    background-color: #1bb98f;
}